.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    border-bottom: 1px solid #a9a9a9;
    background-color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 600;
    color: tomato;
    margin: 0;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-profile p {
    margin: 0;
    padding: 8px 20px;
    background-color: tomato;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}
